@font-face {
  /*monospace*/
  font-family: "JosefinSans";
  src: url("../assets/JosefinSans-Regular.ttf");
}
@font-face {
  /*handwritten*/
  font-family: "Amatic";
  src: url("../assets/AmaticSC-Regular.ttf");
}
/**@font-face {
  
  font-family: "Garamond";
  src: url("../assets/EBGaramond-Regular.ttf");
  font-display: swap;
}**/

.garamond {
  font-family: "Garamond";
}

@font-face {
  font-family: "AmaticBold";
  src: url("../assets/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/Nunito-Regular.ttf");
}
